@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

.button{
  font-family: "DM Serif Text", sans-serif;
  font-size: larger;
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 30px;
  font-weight: bold;
}
.font {
  font-family: "DM Serif Text", sans-serif !important;
}
.main{
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}